.strong{
    font-weight: 800
}
a:hover{
    text-decoration: none !important;
}

/*ADMIN SHARED STYLES*/

.dashboard-sidebar {
    background-color: #303030;
}

.has-error input.with-border{
    box-shadow: 0 1px 4px 0px #EFA80F;
}

.has-error.input-with-icon-left i {
    color: #EFA80F;
}